body {
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    background: #202020;
    color: #dadada;
}


  
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #692a2a;
    z-index: 5;
    position: fixed;
    width: 100%;
    float: top;
    border-bottom: 4px solid #dadada;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 50px;
    padding-top: 35px;
    padding-bottom: 30px;
}

nav a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #9b9b9b;
}

.topName {
    float: left;
    margin-left: 50px;
}

.face {
    max-width: 20%; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    height: auto; 
}

.england {
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
    display: block; 
    height: auto; 
}

.erdi {
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

    display: block; 
    height: auto; 
}

.ospi {
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

    display: block; 
    height: auto; 
}

.uml {
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

    display: block; 
    height: auto; 
}

.datapath {
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

    display: block; 
    height: auto; 
}

main {
    color: #dadada;
    background: #3d3d3d;
    min-height: 100%;
    width: 60%;
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
    z-index: 1;

}

.projl {
    color: #dadada;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.pageMsg {
    font-size: 70px;
    margin-top: 15%;
    margin-bottom: 5%;
}

.backl {
    color: #dadada;
    font-size: 30px;
    margin-top: 13%;
    margin-left: 0%;
}

.centerEl {
    padding-left: 50px;
    padding-right: 50px;
    height: 100;
}
